<div class="jumbotron">
    <h1><img src="/app/images/template/eshop.png" /></h1> 
    <p>A sample application developed using below technologies </p> 
    <ul>       
        <li><a href="http://expressjs.com" target="_blank">Express JS</a></li>
        <li><a href="https://angular.io" target="_blank">Angular 2</a></li>
        <li><a href="https://nodejs.org/" target="_blank">Node JS</a></li>
        <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
        <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
        <li><a href="https://webpack.github.io/" target="_blank">WebPack</a> for module bundling and Tree Shaking</li>
        <li><a href="https://www.heroku.com/" target="_blank">Heroku</a> for Deployment</li> 
    </ul>
</div>

 <a href="https://github.com/rama99/eshop_webpack" target="_blank"><img src="/images/github.png" width="100px" height="80px" />GitHub Source Code </a>